body {
    /*background-image: url('../képek/hatter.jpg');*/
    background-size: cover;
    background-color: #f5f5f2;
    color: #ECEFF4;
    padding-top: 70px;
}

.btn-primary {
    background-color: #00C7A8;
    border: none;
    color: #1F2A32;
}

.btn-primary:hover {
    background-color: #00B293;
    color: #1F2A32;
}

.btn-outline-primary{
    border-color: #00C7A8;
    color: #00C7A8;
    border-radius: 8px;
    padding: 6px 12px;
}

/*.btn-outline-primary:hover{
    background-color: #00B293;
    border-color: #00B293;
    color: #1F2A32;
    
}*/

#vezKeresztId{
    font-size: small;
}

#eredmeny{
    font-size: 30px;
    text-align: right;
}
.navbar {
    background-color: #12181B;
}

.navbar-brand,
.nav-link{
    color: #ECEFF4 !important;
}

.nav-link:hover {
    color: #00C7A8 !important;
}

.regist-button, .login-button, .cart-button, .kalk-button{
    background-color: #00C7A8;
    color: #1F2A32;
    border-radius: 8px;
    padding: 6px 12px;
}

.regist-button:hover, .login-button:hover, .cart-button:hover, .kalk-button:hover{
    background-color: #00B293;
    color: #1F2A32;
}

.main-container {
    padding: 20px;
}

.card {
    background-color: #1F2A32;
    border: none;
    border-radius: 10px;
}

.card-body {
    color: #ECEFF4;
}

.card-title {
    color: #ECEFF4;
}

.btn-primary {
    background-color: #00C7A8;
    border: none;
}

.btn-primary:hover {
    background-color: #00B293;
}

.order-summary {
    background-color: #1F2A32;
    border-radius: 10px;
    color: #ECEFF4;
    padding: 20px;
}

.checkout-button {
    background-color: #00C7A8;
    color: #1F2A32;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.checkout-button:hover {
    background-color: #CD7F32;
    background-color: #00B293;
}

.kepekImg {
    height: 160px;
    width: 160px;
    
}
/* Fixáljuk a navbar-t a képernyő tetején */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Biztosítja, hogy mindig a tetején legyen */
}


/* Hamburger menü megjelenítése kicsi képernyőkön */
@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%; /* A menü szélessége */
        background-color: #333;
        z-index: 1000;
        border-radius: 10px;
        padding: 10px 0;
    }

    .navbar-collapse.show {
        transform: translateX(-50%) translateY(0);
    }

    /* A hamburger menü elemei egy oszlopba rendezkednek */
    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: right;
    }

    .navbar-nav .nav-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-nav .nav-link {
        width: 100%;
        text-align: center;
    }

    /* Keresőmező középre igazítása */
    .d-flex {
        display: flex;
        justify-content: center;  /* Középre igazítás */
        align-items: center;  /* Középre igazítás */
        width: 100%;
    }

    .form-control {
        width: 90%; /* A keresőmező 90%-ban kitölti a menüt */
        margin: 10px 0;
    }

    /* Kosár és gombok szélessége */
    .cart-button, .regist-button, .login-button {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Nagyobb képernyők esetén is megfelelő elrendezés */
@media (min-width: 768px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }

    .navbar-nav .nav-item {
        margin-right: 20px;
    }

    .form-control {
        width: auto;
        margin: 0;
    }
}


.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color:  #12181B;
    padding: 30px;
    border-radius: 10px;
}

.form-label,
.form-control {
    color: #ECEFF4;
}

.form-control {
    background-color:  #12181B;
    border: 1px solid #ECEFF4;
    width: 100%;
}

.form-control:focus {
    background-color: #1F2A32;
    color: #ECEFF4;
}

.form-control::placeholder{
    color: lightgrey;
}

.bemutatkozasDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #cfddfa;
    padding: 30px;
    font-family: 'Montserrat';
}

#logoKepBemutatkozasDiv{
    width: 60%;
}

.fooldalDivSzoveg{
    color: black;
    text-align: justify;
}

.fooldalDivSzovegCim{
    color: black;
    text-align: justify;
    font-weight: bold;
}

.fooldalTableTd{
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.termekekDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #faedcf;
    padding: 30px;
    font-family: 'Montserrat';
    padding-left: 90px;
}

.kalkulatorDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #facfcf;
    padding: 30px;
    font-family: 'Montserrat';
}

.fooldalDivButton{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.fooldalDivButton:hover{
    border: 1px solid rgb(250, 146, 71);
    background-color: rgb(250, 146, 71);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.kalkDivButton{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.kalkDivButton:hover{
    border: 1px solid rgb(250, 146, 71);
    background-color: rgb(250, 146, 71);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

