body {
    background-size: cover;
    background-color: white;
    color: black;
    padding-top: 100px;
    font-family: 'Montserrat';
}

#kosarIkon__2{
    width: 40px;
    display: block;
}

#kosarIkon__3{
    display: none;
}

#profilIkon__2{
    width: 40px;
    margin-right: 30px;
    display: block;
}

#profilIkon__3{
    display: none;
}

.navbar{
    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-link{
    color: rgb(61, 61, 61);
}

.nav-link:hover {
    color: black !important;
    font-weight: 900;
}

.navbar-nav {
    gap: 40px; 
    font-size: large;
    color: rgb(61, 61, 61);
}

#navLogo{
    height: 80px;
}

@media (max-width: 991px){
    .navbar-toggler{
        border: none;
        color: rgb(61, 61, 61);
    }

    .navbar-nav {
        gap: 10px; 
    }

    #kosarIkon__2{
        display: none;
    }

    #kosarIkon__3{
        display: block;
        width: 40px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #profilIkon__2{
        display: none;
    }

    #profilIkon__3{
        display: block;
        width: 40px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    border: none;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.navbar-toggler.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.navbar-toggler.open .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggler.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

::selection {
    color: white;
    background: rgb(61, 61, 61);
}

#vezKeresztId{
    font-size: small;
}

#eredmeny{
    font-size: 30px;
    text-align: right;
}

*{
    box-sizing: border-box;
}

.main-container {
    padding: 20px;
}

.card {
    background-color: white;
    border: none;
    border-radius: 5px;
}

.card-body {
    color: black;
}

.order-summary {
    background-color: #1F2A32;
    border-radius: 10px;
    color: #ECEFF4;
    padding: 20px;
}

.checkout-button {
    background-color: #00C7A8;
    color: #1F2A32;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.checkout-button:hover {
    background-color: #CD7F32;
    background-color: #00B293;
}

.kepekImg {
    height: 160px;
    width: 160px;
    
}

.form-label,
.form-control {
    color: black;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
}

.bemutatkozasDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #cfddfa;
    padding: 30px;
}

#logoKepBemutatkozasDiv{
    width: 60%;
}

#kapcsolatLogo{
    width: 90%;
}

.fooldalDivSzoveg{
    color: black;
    text-align: justify;
    hyphens: auto;
}

.fooldalDivSzovegCim{
    color: black;
    text-align: justify;
    font-weight: bold;
}

.fooldalTableTd{
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.termekekDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #faedcf;
    padding: 30px;
    padding-left: 90px;
}

.kalkulatorDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #facfcf;
    padding: 30px;
}

.fooldalDivButton{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.fooldalDivButton:hover{
    border: 1px solid #f7c246;
    background-color: #f7c246;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.kalkDivButton{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.kalkDivButton:hover{
    border: 1px solid #f77e7e;
    background-color: #f77e7e;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.ugyfelszolgalatDiv{
    max-width: 1250px;
    margin: 50px auto;
    background-color:  #fccda1;
    padding: 30px;
    padding-left: 90px;
}

.ugyfelszDivButton{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.ugyfelszDivButton:hover{
    border: 1px solid #fda553;
    background-color: #fda553;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#navbarKereses{
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    visibility:hidden;
    opacity: 0;
    max-height: 100px;
    transition: opacity 0.1s ease, height 0.1s ease, visibility 0s linear 0.1s;
    overflow: hidden; /* görgetés tiltása*/
}

#navbarKereses.megjelenik {
    opacity: 1;
    max-height: 100px;
    visibility: visible;
    transition: opacity 0.1s ease, height 0.1s ease;
}

#navbarGomb{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
}

#navbarGomb:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
}

.szamitasBtn{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
}

.szamitasBtn:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
}

.kapcsolatBtn{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
}

.kapcsolatBtn:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
}

#navbarIcons{
    width: 35px;
}

#profilIconPadding{
    padding-left: 10px;
    padding-right: 10px;
}

#keresesIkonNavbar{
    width: 35px;
    cursor: pointer;
}

#kosarIkonPadding{
    padding-left: 10px;
}

footer {
    text-align: left;
    padding: 20px;
    background-color:  rgb(61, 61, 61);
    color: white;
}

#termekekKartyaGomb{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#termekekKartyaGomb:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#termekekKartyaKep{
    width: 70%;
}

#termekekKartyaKepKozep{
    text-align: center;
}

.modalTermekek{
    color: black;
}

#modalKepekTermekek{
    width: 30%;
}

#modalKartyaGomb{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#modalKartyaGomb:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.keresesGomb{
    background-color: white;
    border: 1px solid black;
    color:black;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.keresesGomb:hover{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(61, 61, 61);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#footerLinkek{
    text-decoration: none;
    color: white;
}

#footerLinkek:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footerTableTd{
    padding-left: 30px;
}

#fekete{
    color: black;
}

input:focus, select:focus, textarea:focus {
    border-color: rgb(61, 61, 61) !important;
    box-shadow: 0 0 8px rgb(61, 61, 61) !important;
    outline: none !important;
}

/*SZURES CSS:*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.grid-container > div {
  text-align: center;
  font-size: 17px;
}

.torlesBtn{
    text-decoration: none;
    border: none;
}

.torlesIcon{
    width: 40px;
}

.kosarAr{
    font-size: 20px;
}

.kosarFelirat{
    font-size: 25px;
}

select option:hover {
    background-color: red;
    color: white;
}

.kukaGomb{
    border: none;
    background-color: transparent;
}

.kukaKep{
    width: 40px;
}

.kovessIkon{
    color: rgb(61, 61, 61)
}

#cart-count {
    position: absolute;
    top: 22px;
    right: 130px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 8px;
    min-width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}


.card-header{
    background-color: white;
}

iframe {
    max-width: 100%;
    display: block;
}

input[type="radio"] {
    accent-color: black; 
}